<div class="jumbotron">
  <h2> Guudist </h2>
  <br>
  <h4>Manage your tasks in the best way</h4>
  <br>
  <%= link_to "Log In", new_user_session_path, class: "btn btn-success" %>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger" %>
  </div>
