<% if user_signed_in? %>
    <% @tasks.each do |task| %>
        <h2><%= link_to task.title, user_task_path(current_user.id, task.id) %></h2>
        <p><%= task.description %></p>
        <% task.tags.each do |tag| %>
            <p><%= tag.name %></p>
        <% end %>
    <% end %>
<% else %>
    <%= render 'welcome_page' %>
<% end %>
