<div class='col-md-10 cd-md-offset-1'>
      <h2><%= @task.title%></h2>
      <p><%= @task.description %></p>

      <%= link_to 'Completed', complete_user_task_path, method: :patch, class: "btn btn-success" %>
</div>
